@media only screen and (min-width: 32.5em)
{
    nav {
        display: flex;
    }
    
    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: flex;
        float: left;
        margin-left: 45px;
    }

    table, th, td {
        font-family: 'Source Code Pro', monospace;
        border: 2px solid #696C70;
        list-style: none;
        text-align: center;
        padding: 1px;
    }
}