
.active {
    margin: 2px;
    background-color: #91BF8A;
}

body {
    background-color: #B0B3B8;
}

footer {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    color: #696C70;
    background-color: #E8BE52;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 1%;
}

img {
    position: absolute;
    width: 10em;
}

h1 {
    font-family: 'Press Start 2P', monospace;
    color: #20519B;
    font-size: 2em;
    grid-column-start: 2;
}

h2 {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-size: 240%;
    color: #3A8356;
}
    /* class selectors*/
.hidden {
    display: none;
}

nav {
    grid-template-columns: 1fr;
    align-content: center;
    background-color: #B52E27;
    padding: 0.1em;
    font-size: 100%;
    text-align: center;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
    display: none;
    list-style: none;
    text-decoration: none;
}

.responsive li {
    display: block;
}

.motto {
    grid-column-start: 2;
    margin-top: -2px;
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
}

.p {
    font-family: 'Source Code Pro', monospace;
    border: 3px solid #022601;
    background-color: #B0B3B8;
    margin: 1%;
    padding: 3%;
}

header {
    padding: 10px;
    background-color: #B0B3B8;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav {
    grid-template-columns: 1fr;
    align-content: center;
    color: #B0B3B8;
}

table, th, td {
    font-family: 'Source Code Pro', monospace;
    border: 2px solid #696C70;
    list-style: none;
    text-align: center;
    padding: 1px;
}


/* new color scheme (nintendo)
lightGrey - #B0B3B8
darkGrey - #696C70
green - #3A8356
yellow - #E8BE52
blue - #20519B
red - #B52E27 */

/* for small - #forecast {display: none;} */
