/* styles */


/*font-family: 'Oswald', sans-serif;
font-family: 'Montserrat', sans-serif; */

main{
    display: flex;
}

body {
    background-color: #F9E3BA;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

section {
    float: left;
    width: 30%;
    margin: 1.6%;
    background-color: #F9E3BA;
}

section h1 {
    background-color: #B6BF95;
    padding: 5%;
    margin-top: 10%;
    margin-bottom: -20px;
}

section h2 {
    background-color: #B6BF95;
    padding: 5%;
    font-family: 'Oswald', sans-serif;
    margin-top: -10px;
}
section img {
    width: 70%;
}

section a {
    writing-mode: vertical-lr;
    font-size: 80px;
    text-decoration: none;
    margin-bottom: 5%;
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
    color: #3F2912;
}

section p {
    background-color: #B6BF95;
}

p {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.title {
    font-size: 60px;
}