/* styles */

section {
    float: left;
    background-color: #91C5D3;
    color: #FAD168;
    border: 5px red solid;
    border-radius: 15%;
}

p {
    color: black;
}

img {
    box-shadow: 10px 10px 5px grey;
}

.title {
    font-size: 30px;
}