body {
    font-family: 'Overpass Mono', monospace;
    font-size: 100%;
    background-color: #E4E8DF;
  }
  
  #content {
    width: 960px;
    margin: 0 auto; 
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poiret One', cursive;
    color: #4C4436;
    font-size: 300% !IMPORTANT;
    padding: 8px;
    margin-bottom: -1.2%;
  }
  
  nav {
    background-color: #A38227;
    font-size: 110% !IMPORTANT;
    line-height: 1em;
    margin-top: -4em;
    display: flex;
  }
  
  li {
   padding-left: 10px;
   padding-right: 10px;
  }
  
  nav > ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  
  .fullWidth {
    background-color: white;
    border: solid 2px black;
    margin-left: 8px;
    size: 110px;
    position: relative;
  }
  
  .logo {
    background-color: #C8CCC4;
    margin-left: 332px;
    width: 180px;
    padding: 10px;
    position: relative;
    top: 25px;
  }
  
.brown {
    color: #4C4436;
}

.offwhite {
    color: #C8CCC4;
}

  #phoneImg {
    width: 40%;
    padding-left: 100px;
  }
  
  nav a {
    color: #E4E8DF;
    text-decoration: none;
  }
  
  #home {
    padding-left: 40px;
  }
  
  #aboutMe{
    padding-left: 80px;
  }
  
  #pageThree {
    padding-left: 220px;
  }
  
  #pageFour{
    padding-left:80px;
  }
  
  a:visited {
    text-decoration: none; 
  }
  
  a:hover {
   text-decoration: underline; 
  }
  
  img {
    max-width: 100%;
  }
  
  footer {
    background-color: #A38227;
    height:55px;
    margin-top: 50px !IMPORTANT;
  }
  
  footer > div {
    display: flex;
    Justify-content: flex-end;
  }
  
  .icon {
    padding: 10px;
    border-radius: 0%;
    position: relative;
    top: -55px;
    height: 45px;
  }
  
  #alien {
    transform: rotate(20deg);
    width: 100px;
    padding-top: 30px;
    
  }
  
  .infoBtn {
    border: none;
    border-radius: 12px;
    background-color: #E4E8DF;
    font-size: 100% !IMPORTANT;
    font-family: 'Poiret One', cursive;
    color: #A38227;
    text-decoration: none;
  }
  
  .infoBtn:hover {
    border: solid 2px #A38227;
    background: #A38227;
    color: #E4E8DF;
    text-decoration: none;
  }
  
  
  #botAd {
    position: relative;
    top: 15px;
    padding: 5px; 
    color: #E4E8DF;
  }
  
  #top-row {
    background-color: ;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  #middle-row {
    background-color: #A38227;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-items: center;
  }
  
  #bottom-row {
    text-align: center;
    color: #E4E8DF;
  }
  
  #topLeft {
    width: 48%;
    flex: 1 0 15em;
    margin: .5em;
    
  }
  
  #midRight {
   width: 48%;
    flex: 1 0 15em;
    margin: .5em;
    text-align: right;
  }
  
  #midLeft {
    width: 48%;
    flex: 1 0 15em;
    margin: .5em;
  }
  
  #topRight {
    width: 48%;
    flex: 1 0 15em;
    margin: .5em;
  }
  
  #banner {
    width: 100%;
  }
  
  .headline {
    color: white;
    text-align: center;
    padding-bottom: 0%;
    padding-top: 0%;
    background-color: #EBDED4;
    width: 10%;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
  }